* {
    color: #212121;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.03em;
    line-height: 1.5em;
}
body {
    font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
    margin: 60px auto;
    width: 60%;
}
nav ul, footer ul {
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    font-weight: 400;
    text-decoration: none;
    color: #7d4627;
}
a:hover {
    text-decoration: underline;
}
pre { white-space: pre; overflow: auto; }
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
p {
    font-weight: 300;
}
.container {
    margin: 40px auto 60px;
}
.meta {
    margin-top: 30px;
    font-size: .6em;
    font-style: italic;
    color: #a8b6bf;
}
footer {
    border-top: 1px solid #a8b6bf;
    font-size: .8em;
}
ul.posts {
    margin: 20px auto 40px;
    font-size: 1.3em;
}
li {
    margin-bottom: 10px;
}
.post li {
    font-weight: 300;
}
ul.posts li {
    list-style: none;
}
.highlight, .highlighter-rouge {
    font-family: SFMono-Regular, Inconsolata, Menlo, Courier, monospace;
    font-size: 1em;
}
.highlight {
  border-radius: 6px;
  padding: 5px 15px;
}
img {
    width: auto;
    max-width: 100%;
    height: auto;
}
.main-title {
    font-size: 3em;
}
