* {
    color: #212121;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.03em;
    line-height: 2em;
    font-size: 0.975em;
}
body {
    font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
    margin: 4em auto;
}
nav {
    text-align: center;
}
nav ul, footer ul {
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 1.4em;
}
a {
    font-weight: 400;
    text-decoration: none;
    color: #7d4627;
}
a:hover {
    text-decoration: underline;
}
pre { 
    white-space: pre; 
    overflow: auto;
    line-height: 1em;
}
h1 {
    font-size: 2.3em;
    font-weight: 900;
    letter-spacing: 0em;
}
h2 {
    font-size: 1.5em;
    font-weight: 700;
}
h3 {
    font-size: 1.2em;
    font-weight: 500;
}
h4 {
    font-size: 1.2em;
    font-weight: 200;
}
p {
    font-weight: 300;
}
.container {
    margin: 40px auto 60px;
    width: 55%;
    font-size: 1.2em;
}
.meta {
    margin-top: 30px;
    font-size: .6em;
    font-style: italic;
    color: #a8b6bf;
}
footer {
    border-top: 1px solid #a8b6bf;
    font-size: .8em;
}
ul.posts {
    margin: 1.3em auto 2.6em;
    font-size: 1.3em;
}
li {
    margin-bottom: 1em;
}
.post li {
    font-weight: 300;
}
ul.posts li {
    list-style: none;
}
.highlight, .highlighter-rouge {
    font-family: SFMono-Regular, Inconsolata, Menlo, Courier, monospace;
    font-size: 1em;
}
.highlight {
  border-radius: 6px;
  padding: 5px 15px;
}
img {
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.sub-header {
    text-align: center;
}
.main-title {
    font-size: 3em;
    text-align: center;
}

@media all and (max-width: 600pt) {
    .container {
        width: 85%;
    }
}

/* Tables */
.post table {
    border-collapse: collapse;
    font-size: 0.9em;
    table-layout: fixed;
    width: 100%;
}

.post th, .post td {
    padding: 0 25px;
    border-bottom: 1px solid #ddd;
}

.post th {
    text-align: center;
}

.post td {
    text-align: center;
}

.post tr:hover {
    background-color: whitesmoke;
}
