<!DOCTYPE html>
	<html>
		<head>
			<title>Xavier Lowmiller's Blog | {{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/syntax.css">
			{% seo %}
		</head>
		<body>
			<h1 class="main-title">Xavier Lowmiller's Blog</h1>
			<p class="sub-header">software developer • vegetarian • pub quiz organizer • star wars • bob dylan • member of gryffindor</p>
			<nav>
				<ul>
					<li><a href="/">Posts</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div>
			<footer>
				<ul>
					<li><a href="mailto:xaver.lohmueller@me.com">email</a></li>
					<li><a href="https://github.com/xavierLowmiller">github</a></li>
					<li><a href="https://twitter.com/xavierLowmiller">twitter</a></li>
					<!-- <li><a href="https://businesscards.dev.adorsys.de/xlo">business card (iOS/Mac only)</a></li> -->
				</ul>
			</footer>
		</body>
	</html>
